/* ----------------------------------------------- */
/* GENERAL */
/* ----------------------------------------------- */

* {
    background-color: whitesmoke;
    font-family: Lato, sans-serif;
}

.container {
    margin-bottom: 10px;
}


h1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

/* ----------------------------------------------- */
/* NAVIGATION */
/* ----------------------------------------------- */


.navbar, .nav-item, .navbar-toggler, .navbar-collapse, .navbar-nav, .nav-link, .material-icons {
    background-color: transparent;
    justify-content: flex-end;
}

.bg-primary {
    background-color: #878184 !important
}


/* ----------------------------------------------- */
/* JUMBOTRON */
/* ----------------------------------------------- */


.jumbotron-welcome {
    margin-top: 40px;
    height: 500px;
    background-image: url("pictures/Robberg-Nature-Reserve-Park-South-Africa-9.jpg");
}

.first-page {
    background-color: transparent;
}

.display-4 {
    font-size: 50px;
    font-weight: bold;
    text-align: right;
    /*color: whitesmoke;*/
}

.lead {
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    /*color: whitesmoke;*/
}

/* ----------------------------------------------- */
/* PICTURES */
/* ----------------------------------------------- */

img {
    width: inherit;
    padding-bottom: 5px;
    image-orientation: from-image;
    opacity: 0.9;
    transition: transform 0.5s, opacity 0.5s;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}

img:hover {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

i.home {
    font-size: 40px;
    padding-left: 10px;
    padding-top: 5px;
}

.mandelaPic {
    width: 170px;
    height: 200px;
}


/* ----------------------------------------------- */
/* GOOD TO KNOW */
/* ----------------------------------------------- */

.nelson {
    color: #544B50;
}

/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */

footer {
    padding: 10px;
    font-size: 80%;
}

.bottom {
    padding-left: 0px;
    margin-left: 0px;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #517fa4;
}

.copyright {
    display: block;
    text-align: center;
}

footer p {
    color: #888;
    display: inline-block;
    margin-top: 20px;
}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
}

.text-block p {
    font-size: 12px;
}

